*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
}

header{
  height: 250px;
  border: 5px solid white;
  margin-bottom: 10px;
  /* debug */
  background-color: yellow;
  /* fine debug */
  position: relative;
}

#titolo{
  height: 190px;
  width: 100%;
  border: 10px solid white;
}

header nav{
  height: 50px;
  /* debug */
  background-color: grey;
  /* fine debug */
  position: absolute;
  bottom: 0;
  width: 100%;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

#colonna-1{
  width: 20%;
  height: 700px;
  float: left;
  border: solid 5px white;
  /* dubug */
  background-color: red;
  /* fine debug */
}

#pages{
  height: 60%;
  border-bottom: solid 10px white;
}

#archives{
  height: 15%;
  border-bottom: solid 10px white;
}

#meta{
  height: 25%;
}

#colonna-2{
  width: 50%;
  height: 2800px;
  border: solid 5px white;
  float: left;
  /* dubug */
  background-color: orange;
  /* fine debug */
}

#colonna-3{
  width: 30%;
  height: 300px;
  border: solid 5px white;
  float: left;
  /* dubug */
  background-color: lightblue;
  /* fine debug */
}

#search{
  height: 40%;
  border-bottom: solid 20px white;
}

#tag{
  height: 60%;
}

footer{
  height: 400px;
  border: solid 5px white;
  /* dubug */
  background-color: pink;
  /* fine debug */
}
